[class*=togglerlabel], 
[for*=_select] {
    display: inline-block !important;
    + div {
        display: inline-block !important;
        margin-left: 20px;
    }
}

[class*=togglerelement] {
    border-left: 5px solid rgb(136, 136, 136);
    padding-left: 1em;
}

[class*=togglerlastelement] {
    margin-bottom: 2em;
}
