[class*=togglerlabel], 
[for*=_select] {
    display: inline-block !important;
    + div {
        display: inline-block !important;
        margin-left: 20px;
    }
}

[class*=togglerelement] {
    border-left: 5px solid rgb(136, 136, 136);
    padding-left: 1em;
    [class*=togglerlabel] {
        display: unset !important;
        + div {
            display: unset !important;
            margin-left: unset;
        }
    }
}

[class*=togglerlastelement] {
    margin-bottom: 2em;
}
